body{
    font-family: "Lobster";
}
html, body {
    height:100%;
}
header, .navbar{
    background-color:white !important;
    position: static;
    top: 0;
    right: 0;
    left: 0;
}
.geral {
    min-height:100%;
    position:relative;
}
.nav-link:hover{
    color: orangered;
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: orangered;
	border-width: 5px;
}
.navbar-toggler{
	color: orangered !important;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
#logo {
    width: 75px;
}
.navbar-brand{
    font-family: "Lobster";
    padding: 0;
    color: orangered;
}
.navbar-brand:hover{
    color: orangered;
}
.nav-link {
    color: orangered;
}
#pesquisa{
    top: 1%;
    width:20%;
    right:0;
    text-align: right;
    position: absolute;
    background-color: white;
}
#cores{
    font-family: "roboto";
    width: 70%;
}
#cores1{
    font-family: "roboto";
    width: 40%;
    color: orangered; 
}
#cores10{
    font-family: "Bebas Neue";
    width: 100%;
    color:white;
    background-image: url("Imagens/capas2.jpg");
}
#imagensformulario{
    font-family: "Bebas Neue";
    color:black;
    background-image: url("Imagens/fundo1.png");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: 100% 100%;
}
#imagensformulario2{
    font-family: "Bebas Neue";
    width: auto;
    color:black;
    background-image: url("Imagens/fundo2r.png");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: 100%;
}
#imagensformulario21{
    font-family: "Bebas Neue";
    color:black;
    background-image: url("Imagens/fundo3.png");
    background-repeat: no-repeat;
}
@media (max-width: 1300px) {
    #pesquisa{display: none;}
  }
@media (max-width: 1300px) {
    #configimg{display: none;}
  }
@media (max-width: 1300px) {
    #configimg2{display: none;}
  }
@media (max-width: 600px) {
    #imagensformulario21{background-image: none;}
  }
@media (max-width: 600px) {
    #imagensformulario{background-image: none;}
  }
@media (max-width: 600px) {
    #imagensformulario2{background-image: none;}
  }
#configimg{
    position: absolute; 
	left:50% ; /* posiciona a 90px para a esquerda */ 
	top: 30%; /* posiciona a 70px para baixo */
}
#configimg2{
    position: absolute; 
	left: 38%; /* posiciona a 90px para a esquerda */ 
	top: 51%; /* posiciona a 70px para baixo */
}
#coluna{
    margin-left: 20%;
    margin-right: 20%;
}
#colunacad{
    margin-right: 50%;
    margin-left: 10%;
}
#mybli{
    font-family:"Oswald";
    color: rgb(253, 87, 27);
    margin: 30px;
    text-align: center;
}
#cores100{
    font-family: "Bebas Neue";
    width: 100%;
    color:white;
}
.cores10card{
    font-family: "Bebas Neue";
    margin-left: 43%;
    color:white;
    background-color: teal;
    width:180px;
}
#cards{
    font-family: "Bebas Neue";
    background-color: black;
    color: white;
    text-align: center;
    margin: 0%;   
}

#cadast{
    color: orangered;
}
#cadast:hover{
    color: black;
    border-bottom-color: orangered;
	border-width: 2px;
}
#nomelivro{
    color: orangered;
    display: inline;
}
#nomelivro1{
    color: orangered;
    display: inline;
}
#nomelivro2{
    color: orangered;
    display: inline;
}
#nomelivro3{
    color: orangered;
    display: inline;
}
#capalivro{
    height:250px;
    width:174px;
}
#imf{
    text-align: center;
}
#imf2{
    margin-left: 21%; 
    margin-right: 21%;
}
footer{
    border-width: 4px;
    color: white;
    position:absolute;
    bottom:0;
    width:100%;
}
.page-footer{
	border-style: solid;
	border-color: orangered;
	background-color: orangered !important;
}
.footer-copyright{
    position: absolute;
    text-align: right;
    right: 0;
    left: 0;
    bottom: 0;
}
label{
    font-size: 25px;
}



